*{
margin: 0;
padding:0 ;
box-sizing:border-box;
font-family: 'Merriweather', serif;
}
:root{
--text:#23B2DD;

}
body{
height: 2000px;
background: #fff;
}
.nav{
position:fixed ;
width:100% ;
height:50px ;
display: flex;
justify-content: space-between;
padding:10px ;
z-index: 5;
}
.nav.sticky{
background:red ;
background: #fff;
box-shadow:0 0 10px rgba(0,0,0,0.3);

}
.nav ul{
list-style: none;

}
.nav ul li{
display: inline-block;
margin-left: 5px;
}
.nav ul li a:hover{
padding: 5px 20px ;
background:#23B2DD ;
color:#fff ;
text-decoration:none ;


}
.nav .logo{
color:var(--text);
}
.nav .bt a{
padding: 5px 20px ;
background:var(--text);
color:#fff ;
text-decoration:none ;
}
.home{
width:100% ;
height:100vh ;
background:url("bg.jpeg") ;
background-size: cover;
}
.home .text{
width: 80%;
height: 100vh;
display: flex;
justify-content: center;
margin-left:20px ;
flex-direction: column;
}
.home .text h1{
color: var(--text);
font-weight: 466;
animation: text linear 4s 1;
transition:1s;
font-size:2em ;
}
.btn{
position: fixed;
z-index:8 ;
}
@keyframes text{
100%{
transform:translateX(-20px);
opacity:0.3;
}


}
.home .text span{
color:#C75593;


}
.home .text a{
width: 150px;
padding:5px 5px ;
background: var(--text);
border-radius:40px;
color:#fff;
text-decoration: none;
text-align: center;
}
.home .text a:hover{
transform: rotateX(360deg);
transition-delay:1s;
transition:1s;

}
.about{
width:100% ;
height: 100vh;

}
.about .container{
width: 100%;
background: ;
display: flex;
justify-content : space-between;
position:relative ;
top: 2%;
height: 90vh;
}
.about .container .image{
width: 100%;
height:90% ;
position:relative ;
}
.about .container .image img{
position: absolute;
width: 100%;
}
.about .container .content{
width: 100%;
height:30% ;
padding-left: 20px;
}
.about .container .content span{
font-size:2em ;
color:var(--text);

}
.about .container .content a{
padding: 5px 20px ;
background:var(--text);
color:#fff ;
text-decoration:none ;
margin-top:-70px ;
position: relative;
top: 0;
}
.about h1{
color: var(--text);
text-align:center ;
padding-top: 10px;
}
.doctors{
width: 100%;
height: 110vh;
text-align:;
}
.doctors h1{
color: var(--text);
text-align:center ;
}
.doctors .container{
position: relative;
width:100% ;
display:flex;
justify-content :space-between ;
flex-direction: row;
bottom: ;

}
.doctors .container .card .stars img{
height: 40px ;

 }
 
 .doctors .container .card {
 position:relative ;
 width: 40%;
 height:70vh;
 display: flex;
 justify-content:center;
 flex-direction: column;
 margin:20px;
 box-shadow:0 0 10px rgba(0,0,0,0.3);
 }
  .doctors .container .card:after {
  content:'';
  position:absolute ;
  width:100%;
  height: 40%;
  left:0;
  bottom:0;
  background:#fff ;
  
  }
 .doctors .container .card img{
 position: relative;
 width:100% ;
 height: 100%;
 z-index: 0;
 }
.dl{
position: absolute;
bottom:10% ;
text-align:center ;
z-index:2 ;
height:;
width: 100%;
line-height: -7;
}
.dl h1{

font-size: 14px;
color:blue ;
bottom: 50%;
left:25%;
}
.dl a{
padding: 5px 10px ;
background:var(--text);
color:#fff ;
text-decoration:none ;

width: 50%;
text-align:center ;
}
.card:hover{
transform:scale(1.1);
transition:1s;
} 
.service{
width:100% ;
height:100vh ;
background: #fff;
}
.service h1{
color:var(--text) ;
text-align: center;

}
.service .container{
width: 100%;
height:90vh ;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(30px,2fr));
gap:2rem;
}
.service .container .card{
text-align: center;
box-shadow:0 0 10px rgba(0,0,0,0.3);
height:80%;
}
.service .container .card i{
font-size: 4em;
color: var(--text);
padding-top:20px ;
}
.service .container .card h1 { 
font-size:1.5em ;
padding:5px ;
color:var(--text) ;

}
.book{
width: 100%;
height: 120vh;

}

.book h1{
text-align:center ;
color: var(--text);

}
.book .container{
width: 100%;
height:90vh ;
display:flex ;
justify-content :center ;
align-items:center;
position:relative ;
}
.book .container .form{
width:60% ;
height: 100vh;
display: flex;
justify-content :center;
margin-top:;
align-items:center;
flex-direction:column;
background:var(--text);
bottom:-19% ;
border-radius:20px;
box-shadow:0 0 10px rgba(0,0,0,0.3);
}
.book .container .form input{
width: 90%;
padding-left: px;

border:none;
background:transparent ;
height:30px ;
box-shadow:0 0 10 var(--text);
border-bottom: 2px solid #fff;
margin-top:10px ;
padding-top: 10px;
}
.book .container .form input::placeholder{
color:#fff;


}
.book .container .form h1{
color:#fff ;
}
.book .container .form a{

padding: 5px 20px ;
background:#fff;
color:var(--text);
text-decoration:none ;
margin-top:10px ;
}
footer{
width:100% ;
height: 100vh;
background:var(--text) ;

}
footer h3{ 
color:#fff ;
font-size:15px ;
text-align:center  ;
}
footer .container{
width: 100%;
display:grid ;
grid-template-columns:50% 50%;
}
footer .container .info span{
color:#fff ;

}
footer .container .owner h1{
color: #fff;
font-size:1.5em ;

}
footer .container .owner span,h4{
color: #fff;

}
footer .container .owner ul{
list-style:none ;


}
footer .container .owner ul li{
display: inline-block;
margin:10px ;
}
@media screen and (max-width:710px){
body { 



}
.card:hover{
transform:scale(1.1);
transition:1s;
} 
.nav{
display: flex;
justify-content:center;
align-items:center;
flex-direction: column;
height:50px ;
background: #fff;
box-shadow:0 0 10px rgba(0,0,0,0.3);
transition:1s;
}
.nav ul{
display: none;
transition:0.7s;
}
.ul.show{
display: block;
transition:1s;

}
.nav.active{
height: 300px;
transition:1s;

}
.nav ul li{
display:block ;
line-height: 2;
}
.btn{
width: 60px;
height:35px ;
background:#23B2DD ;
right:5%;
top: 1%;
}
.btn span {
position: absolute;
width:90% ;
height:6px ;
background: #fff;
left:5%;
top:15% ;
 }
 .btn span:nth-child(2){
 top: 45%;
 
 
 }
  .btn span:nth-child(3){
 top: 75%;
 
 
 }
.about{

}
.about .container{
top: 20%;
flex-direction: column;
justify-content :center ;
height:50vh ;
}
.about .container .image{
width:100% ;

}
.about .container .content{


}
.doctors{
height:267vh ;

}
.doctors .container{
display:flex ;
flex-direction: column;
justify-content : center ;
text-align: center ;
top:5% ;
}
.doctors .container .card{
width:90% ;


}
.doctors .container .card .stars img{
height: 70px;


}
.service .container{
display:flex ;
justify-content :space-between ;
flex-direction:column ;
gap:2rem;
}
.service .container .card{
margin-top: 5px;
gap:2rem;



}
.service {
height:110vh ;

}
.book{
height: 100vh;

}
.book .container .form{
width:80% ;
height:50vh ;
bottom: 25%;
margin-top:60%;
}
}


